/***********************/
/*****GENERAL STYLE*****/
/***********************/
* a {
    text-decoration: none;
    color: #303C6C;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #303C6C;
}
body main a {
    border: black 1px solid;
}
body main h1 {
    padding: 15px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    border: black solid 1px;
    background-color: #303C6C;
    color: #B4DFE5;
}
h1, button, p {
    font-size: 3vw;
}
#question {
    padding: 15px 15px;
    margin: 50px;
    font-size: 30px;
    background-color: #B4DFE5;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    border: black solid 1px;
}

/***********************/
/******FLEX BOX*********/
/***********************/

#flexAnswers {
    width: 500px;
    height: 300px;
    margin: 40px 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    border: black solid 1px;
    border-radius: 20px;
    background-color: #B4DFE5;
}
.answer {
    display: flex;
    align-items: center;
    justify-content: center;
}


/***********************/
/******PIC STYLE********/
/***********************/

#welcomePic, #quizPic {
    height: 300px;
    width: 500px;
    margin: 15px;
    border: black solid 1px;
    border-radius: 20px;
}

/***********************/
/*******BUTTONS*********/
/***********************/

#startButton, #nextQuestion, #retakeQuizBtn{
    margin: 30px 40px;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: #303C6C;
    color: #B4DFE5;
    border: 1px solid black;
    font-family: 'Fondamento', cursive;
    font-size: 2vw;
}
#nextQuestion {
    display: none;
}

#retakeQuizBtn {
    display: none;
}

#startButton:hover, #nextQuestion:hover, #retakeQuizBtn:hover {
    cursor: pointer;
}

/***********************/
/******QUESTIONS********/
/***********************/



/***********************/
/*******ANSWERS*********/
/***********************/

#answer1, #answer2, #answer3, #answer4 {
    margin: 20px;
    padding: 20px;
    height: 40px;
    position: relative;   
    border: black solid 1px;
    border-radius: 20px;
    background-color: #303C6C;
    color: #B4DFE5;
}


/***********************/
/***PSEUDO SELECTORS****/
/***********************/


/***********************/
/*****MEDIA QUERIES*****/
/***********************/

@media only screen and (max-width: 899px) {
    #welcomePic{
        width: 60vw;
        margin: 30px;
        box-shadow: black 3px 3px;
    }
    #quizPic {
        margin: 30px;
        height: 230px;
        width: 50vw;
        margin-top: -40px;
        border: black solid 1px;
        border-radius: 20px;
    }
    #endQuizPic {
        border: black 2px solid;
        border-radius: 20px;
    }
    #results{
        margin: 40px;
    }
    #flexContainer {
        margin: 0px 100px;
        height: 100vh;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background-color: #FBE8A6;
    }
    #questionContainer {
        position: relative;
        top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #flexAnswers {
        width: 250px;
        height: 300px;
        margin-top: -20px;
        display: flex;
        border: black solid 1px;
        border-radius: 20px;
        background-color: #B4DFE5;      
    }
    #answer1, #answer2, #answer3, #answer4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 10px;
        padding: 10px 20px;
        width: 180px;
        height: 30px;
        text-align: center;
        position: relative;   
        border: black solid 1px;
        box-shadow: black 2px 2px;
        border-radius: 20px;
        background-color: #303C6C;
        color: #B4DFE5;
        cursor: pointer;
        font-family: 'Fondamento', cursive;
    }

    #startButton, #nextQuestion, #retakeQuizBtn{
        margin: 0px 30px;
        margin-bottom: 10px;
        padding: 15px 15px;
        border-radius: 20px;
        max-width: 30vw;
        font-size: 25px;
        background-color: #303C6C;
        color: #B4DFE5;
        border: 1px solid black;
        font-family: 'Fondamento', cursive;
        cursor: pointer;
    }
    #question {
        margin-top: 5px;
        padding: 10px 10px;
        width: 40vw;
        text-align: center;
        font-family: 'Fondamento', cursive;
        font-size: 3.5vw;
    }
    #welcomeTitle {
        width: 80%;
        height: 80px;
        padding: 15px;
    }
    #resultSection {
        display: flex;
        justify-content: center;
        width: 70vw;
        position: relative;
        top: -20px;
        font-size: 25px;
        color: #303C6C;
        font-family: 'Fondamento', cursive;
    }
}

@media only screen and (min-width: 900px) {
    h1#welcomeTitle {
        width: 40vw;
        height: 50px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body{
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }
    #welcomePic{
        margin: 70px;
    } 
    #quizPic {
        height: 270px;
        width: 30vw;
        border: black solid 1px;
        border-radius: 20px;
        margin: 10px;
    }
    #endQuizPic {
        margin: 40px 0px;
        border: black 2px solid;
        border-radius: 20px;
    }
    #question, #welcomeTitle {
        margin-top: 20px;
        margin-bottom: 8px;
        min-width: 40vw;
        max-width: 70vw;
        text-align: center;
        font-size: 30px;
        padding: 15px;
        padding-top: 27px;
        font-family: 'Fondamento', cursive;
    }
    #flexAnswers {
        width: 600px;
        height: 200px;
        margin: 10px 10px;
        padding: 20px;
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        border: black solid 1px;
        border-radius: 20px;
        
    }
    #flexContainer {
        margin: 0px 120px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: #FBE8A6;
        
    } 
    #questionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    #answer1, #answer2, #answer3, #answer4 {
        margin: 8px;
        width: 220px;
        height: 30px;
        position: relative;   
        border: black solid 1px;
        box-shadow: black 2px 2px;
        border-radius: 20px;
        font-family: 'Fondamento', cursive;
        background-color: #303C6C;
        color: #B4DFE5;
        font-size: 25px;
        cursor: pointer;
    }
    #startButton, #nextQuestion{
        margin: 10px 30px;
        padding: 20px 20px;
        border-radius: 20px;
        background-color: #303C6C;
        font-family: 'Fondamento', cursive;
        font-size: 30px;
        color: #B4DFE5;
        border: 1px solid black;
        cursor: pointer;
    }
    #resultSection {
        display: flex;
        justify-content: center;
        width: 70vw;
        position: relative;
        top: 20px;
        font-size: 25px;
        color: #303C6C;
        font-family: 'Fondamento', cursive;
    }
}

/***********************/
/******@FONT-FACE*******/
/***********************/

