/***********************/
/*****GENERAL STYLE*****/
/***********************/
* a {
    text-decoration: none;
    color: #303C6C;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #303C6C;
}
body main a {
    border: black 1px solid;
}
body main h1 {
    padding: 15px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    border: black solid 1px;
    background-color: #303C6C;
    color: #B4DFE5;
}
#question {
    padding: 15px 15px;
    margin: 50px;
    font-size: 30px;
    background-color: #B4DFE5;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    border: black solid 1px;
}

/***********************/
/******FLEX BOX*********/
/***********************/

#flexContainer {
    margin: 0px 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #FBE8A6;
}

#flexAnswers {
    width: 500px;
    height: 300px;
    margin: 40px 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    border: black solid 1px;
    border-radius: 20px;
    background-color: #B4DFE5;
}


/***********************/
/******PIC STYLE********/
/***********************/

#welcomePic, #quizPic {
    height: 300px;
    width: 500px;
    margin: 15px;
    border: black solid 1px;
    border-radius: 20px;
}

/***********************/
/*******BUTTONS*********/
/***********************/

#startButton, #nextQuestion{
    margin: 30px 40px;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: #303C6C;
    color: #B4DFE5;
    border: 1px solid black;
}

/***********************/
/******QUESTIONS********/
/***********************/



/***********************/
/*******ANSWERS*********/
/***********************/

#answer1, #answer2, #answer3, #answer4 {
    margin: 20px;
    padding: 20px;
    height: 40px;
    position: relative;   
    border: black solid 1px;
    border-radius: 20px;
    background-color: #303C6C;
    color: #B4DFE5;
}


/***********************/
/***PSEUDO SELECTORS****/
/***********************/

#answer1:hover{
    background-color: #b185ff;
    color: #303C6C;
}
#answer2:hover {
    background-color: #ed647b;
    color: #303C6C;
    
} 
#answer3:hover {
    background-color: #85ffd6;
    color: #303C6C;
} 
#answer4:hover {
    background-color: #ff85e3;
    color: #303C6C;
}
#startButton:hover, #nextQuestion:hover {
    background-color: #abffd5;
    color: #303C6C;
    border: black 1px solid;
}
/* #answer1:visited, #answer2:visited, #answer3:visited, #answer4:visited {
    background-color: cornflowerblue;
} */

/***********************/
/*****MEDIA QUERIES*****/
/***********************/

@media only screen and (max-width: 899px) {
    #welcomePic, #quizPic {
        margin: 25px;
        height: 230px;
        width: 400px;
        margin-top: -40px;
        border: black solid 1px;
        border-radius: 20px;
    }
    #flexContainer {
        margin: 0px 100px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: #FBE8A6;
        justify-content: space-around;
    }
    #flexAnswers {
        width: 250px;
        height: 300px;
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border: black solid 1px;
        border-radius: 20px;
        background-color: #B4DFE5;      
    }
    #answer1, #answer2, #answer3, #answer4 {
        margin: 10px;
        padding: 10px 20px;
        width: 180px;
        height: 30px;
        text-align: center;
        position: relative;   
        border: black solid 1px;
        border-radius: 20px;
        background-color: #303C6C;
        color: #B4DFE5;
        cursor: pointer;
        font-family: 'Fondamento', cursive;
    }

    #startButton, #nextQuestion{
        margin: 0px 30px;
        margin-bottom: 10px;
        padding: 15px 15px;
        border-radius: 20px;
        font-size: 25px;
        background-color: #303C6C;
        color: #B4DFE5;
        border: 1px solid black;
        font-family: 'Fondamento', cursive;
        cursor: pointer;
    }
    #question {
        margin-top: 5px;
        padding: 10px 10px;
        width: 450px;
        text-align: center;
        font-family: 'Fondamento', cursive;
    }
    #welcomeTitle {
        width: 80%;
        height: 80px;
        padding: 15px;
    }
}
@media only screen and (min-width: 900px) {
    body{
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }
    #welcomePic, #quizPic {
        height: 270px;
        width: 450px;
        border: black solid 1px;
        border-radius: 20px;
        margin: 10px;
    }
    #question, #welcomeTitle {
        margin-top: 20px;
        margin-bottom: 8px;
        width: 700px;
        text-align: center;
        font-size: 30px;
        padding: 15px;
        padding-top: 27px;
        font-family: 'Fondamento', cursive;
    }
    #flexAnswers {
        width: 600px;
        height: 200px;
        margin: 10px 10px;
        padding: 20px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        text-align: center;
        border: black solid 1px;
        border-radius: 20px;
    }
    #flexContainer {
        margin: 0px 120px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: #FBE8A6;
    }
    #answer1, #answer2, #answer3, #answer4 {
        margin: 5px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 220px;
        height: 30px;
        position: relative;   
        border: black solid 1px;
        border-radius: 20px;
        font-family: 'Fondamento', cursive;
        background-color: #303C6C;
        color: #B4DFE5;
        font-size: 25px;
        cursor: pointer;
    }
    #startButton, #nextQuestion{
        margin: 10px 30px;
        padding: 20px 20px;
        border-radius: 20px;
        background-color: #303C6C;
        font-family: 'Fondamento', cursive;
        font-size: 30px;
        color: #B4DFE5;
        border: 1px solid black;
        cursor: pointer;
    }
    /* #background {
        background-image: url("../img/questionMarks.png");
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        height: 400px;
        width: 100%;
        opacity: .5;
    } */
}

/***********************/
/******@FONT-FACE*******/
/***********************/

